/*--- Estilos generales ---*/

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E7FDFB;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}



/*--- Estilos Tabla Citas Programadas ---*/

#titulo-tabla-citas {
  text-align: center;
  margin-block: 2rem;
}

.tabla {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  display: table;
}

.titulo-columnas {
  font-weight: bold;
  font-size: 1 rem;
  border: 2px solid black;
}

.titulo-columnas th,
.fila td {
  padding: 10px;
  margin: 10px;
}

.fila:nth-child(odd) {
  background-color: #BDFAF4;
}

.fila:nth-child(even) {
  background-color: #117e78;
  color: white;
}

.fila td:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fila-unica {
  text-align: center;
  background-color: #BDFAF4;
}

.cita {
  min-width: 100px;
}

.observaciones {
  text-align: center;
  min-width: 200px;
  width: 20%;
}

.acciones {
  min-width: 100px;
}


/*--- Estilos cabecera ---*/

.cabecera {
  background-color: #0C9789;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 6vh;
  width: auto;
  margin-inline: 15px;
}

nav a {
  margin-inline: 30px;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

nav a:hover {
  color: #BDFAF4;
  text-decoration: underline;
}


/*--- Estilos Formulario ---*/

.formCrearCita {
  max-width: 900px;
  width: 100%;
  height: auto;
  margin: 40px auto;
  padding: 30px;
  background: #05423C;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Títulos */
.formCrearCita h2 {
  text-align: center;
  margin: 10px 0 5px 0;
  color: white;
  border-bottom: 2px solid #096D63;
  padding-bottom: 5px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.input-group {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
  color: white;
}

.input-group input,
.input-group textarea {
  width: 100%;
  /* El ancho es el 100% de su contenedor (.input-group) */
  padding: 10px;
  border: 2px solid #555;
  border-radius: 10px;
  background: #333;
  color: white;
  outline: none;
  box-sizing: border-box;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #5CF2E3;
}

/* Campo de Fecha/Hora */
.fila-fecha .input-group {
  align-items: center;
}

.fila-fecha .input-group input {
  max-width: 300px;
  text-align: center;
}



/*--- Estilos Botones ---*/

.boton-indice {
  font-size: 2rem;
  margin: 15px;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #0C9789;
  background-color: #0C9789;
  color: white;
  user-select: none;
  cursor: pointer;
  transition-duration: 0.5s;
}

.boton-indice:hover {
  background-color: #096D63;
}

.contenedor-boton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 20px;
}

#boton-form {
  width: 100%;
  max-width: 300px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #0C9789;
  color: white;
  border: 5px solid #0C9789;
  border-radius: 20px;
  padding: 15px 30px;
  margin-bottom: 5px;
  user-select: none;
  cursor: pointer;
  transition-duration: 0.5s;
}

#boton-form:hover {
  background-color: #096D63;
}

.icon-button {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

/* Estilo básico del botón para que se vea mejor */
.btn-modificar,
.btn-eliminar {
  padding: 10px;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 8px;
  margin-right: 5px;
}

.btn-modificar {
  background-color: #ffc400;
}

.btn-eliminar {
  background-color: salmon;
}




/* --- MEDIA QUERY: Móviles --- */
@media (max-width: 768px) {

  .formCrearCita {
    padding: 20px;
    /* Reduzco de 30px a 20px*/
    margin: 20px auto;
    /* Reduzco de 40px auto a 20px auto*/
  }

  .input-row {
    flex-direction: column;
    /* Cambio la distribución de fila a columna */
    gap: 5px;
  }

  .fila-fecha .input-group input {
    max-width: 100%;
    /*Hago que el campo de la fecha y hora ocupe el 100% del contenedor*/
  }
}

/*--- Estilos Errores ---*/

.error {
  color: salmon;
  font-size: 0.85em;
  margin-top: 4px;
}

.input-error {
  border: 2px solid salmon !important;
}